#container {
    width: 100%;
    margin: 3em auto;
    margin-top: 0;
    padding: 0;
}

.items {
    max-width: 650px;
    height: 480px;
    background: none;
}

#right { 
    margin: 30px;
    position: relative;
    left: 10px;
}

#left { 
    margin: 30px;
    position: relative;
    right: 10px;
}

.image {
    width: 650px;
    margin: auto;
    position: relative;
    top: -30px;
}