<div id="home" class="homePageContainer" fxLayout="column">
    <!--<span class="pageTitle">Home / Bio</span>-->
    <div class="content" fxLayoutAlign="center center" fxLayout="column" fxFlex="80">
        <p>
            Tape Twelve’s melodic leads, cinematic pads, and throbbing bass lines are the result of a lifetime of musical interest that spanned many genres, including indie, rock, electronica, trance, hard house, and techno.
        </p>
        <p>
            In his career to date, Tape Twelve has run his own successful clubnight “Silk” in his home town, performed along side acts such as Hot Chip, Josh Gabriel, and Phil Kieran. Tape Twelve currently hosts the show “Narrow Networks” on London’s Hoxton FM, and has the pleasure of having his music regularly played on BBC radio 1, plus various national and regional Radio shows across the globe.
        </p>
        <p>
            Tape Twelve has been producing music since 2008 and has had regular releases on various record labels since 2012.
        </p>
        <p>
            Tape Twelve has been heavily influenced by the work of Bonobo, Dark Sky, and Henry Saiz to name a few. Studying the rhythm and carefully places randomness in Bonobo’s drum sequences, and the great use of melodies and musical scales has taught him the art of, and importance of originality in electronic music.
        </p>
        <p>
            The emotion involved in Dark Sky’s tracks and the balance between bass lines and melodic leads has influenced Tape Twelve’s ability to harness contrasts in frequencies and to play one off the other to create diverse rhythms.
        </p>
        <p>
            Henry Saiz’s perfectly produced tracks has given him a goal as to how clean and crisp an electronic track should sound, and his slightly detuned leads and sequences that evolve constantly have pushed Tape Twelve into thinking more about how a track should always be changing.
        </p>
    </div>
</div>
<ng-content></ng-content>