<div class="navContainer">
  <span class="headerBannerText">____TAPE__TWELVE___</span>
  <div>
    <img id="hamburgerMenuToggle" class="hamburgerMenu" src="/assets/icons/menu-gray.png" (click)="toggleNav()">
    </div>
  <div class="linksContainer" fxHide="{{showNav}}" fxLayout="column" fxLayoutAlign.xs="space-around center">
    <ul class="navList">
      <li *ngFor="let page of navPages">
        <a class="navLink" href="{{page.url}}" (click)="hideNav()">{{page.name}}</a>
      </li>
    </ul>
  </div>
</div>