.navContainer {
    margin-top: 20px;
    text-align: center;
}

.linksContainer {
    width: 100%;
    float: right;
    text-align: center;
    border-bottom: 1px solid gray;
    /*margin-bottom: 20px;*/
}

.navLink {
    color: rgb(119, 119, 119);
    font-size: 20px;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
    padding-left: 5px;
    margin-bottom: 10px;
}

li {
    padding-bottom: 10px;
}

ul {
    list-style: none;
        padding-left: 0;
}

.navList {
    width: 100%;
    background-color: rgba(51,51,51,0.95);
    z-index: 100;
    margin: 0px;
}

img {
    
}

.banner {
    width: 100%;
    background-color: rgba(51,51,51,0.95);
}

.hamburgerMenu {
    height: 50px;
    width: 50px;
    float: right;
}

.hide {
    display: none;
}

.show {
    display: flex;
}

.banner {
    width: 100%;
    margin: auto;
}