.contactForm {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid;
    font-size: 20px;
}

.newsletterContainer {
    /*width: 500px;*/
}

.successFailureMessage {
    padding: 10px;
}

.newsletterFormContaner {
    /*margin: auto;*/
    padding: 30px;
    font-size: 20px;
    color: rgb(198, 198, 198);
}

.email {
    height: 50px;
    /*width: 400px;*/
    background-color: rgba(173, 173, 173, 0.1);
    padding-left: 15px;
    color: rgb(198, 198, 198);
    outline-width: 0;
    border: none;
}

.email::placeholder {
    color: rgb(198, 198, 198);
}

button {
    background-color: rgb(198, 198, 198);
    border: none;
    font-size: 20px;
}

button:disabled
button[disabled] {
    background-color: rgba(173, 173, 173, 0.1);
    color: rgb(198, 198, 198);
    border: 1px solid rgb(198, 198, 198);
}

.newsletterTitle {
    /*text-align: center;*/
}

.validationMessageContainer {
    height: 30px;
}