<img class="backgroundImage" src="/assets/images/record-transparent.png">
<div class="layer"></div>
<app-nav></app-nav>
<div class="appContainer contain" fxLayout="column" fxLayoutAlign="center center">
    
<app-header></app-header>
    <app-home-page>
        <app-page-divider></app-page-divider>
    </app-home-page>
    <!--<app-news-page>
        <app-page-divider></app-page-divider>
    </app-news-page>-->
    <app-photos-page>
        <app-page-divider></app-page-divider>
    </app-photos-page>
    <app-videos-page>
        <app-page-divider></app-page-divider>
    </app-videos-page>
    <app-music-page>
        <app-page-divider></app-page-divider>
    </app-music-page>
    <!--<app-gigs-page>
        <app-page-divider></app-page-divider>
    </app-gigs-page>-->
    <app-contact-page>
        <app-booking-form></app-booking-form>
        <app-newsletter></app-newsletter>
    </app-contact-page>
    
    <app-footer>
        <app-social-links></app-social-links>
    </app-footer>
</div>

<app-back-to-top></app-back-to-top>