<div class="appContainer" fxLayout="column" fxLayoutAlign="space-evenly center">
    <div class="headerContainer">
        <app-header></app-header>
    </div>
    <div class="pageContainer">
        <!--<router-outlet></router-outlet>-->
        <app-home-page></app-home-page>
    </div>
    <img class="pageDivider" src="/assets/dividers/letterpress.png">
    <div class="pageContainer">
        <app-news-page></app-news-page>
    </div>
    <img class="pageDivider" src="/assets/dividers/letterpress.png">
    <div class="pageContainer">
        <app-photos-page></app-photos-page>
    </div>
    <img class="pageDivider" src="/assets/dividers/letterpress.png">
    <div class="pageContainer">
        <app-videos-page></app-videos-page>
    </div>
    <img class="pageDivider" src="/assets/dividers/letterpress.png">
    <div class="pageContainer">
        <app-music-page></app-music-page>
    </div>
    <img class="pageDivider" src="/assets/dividers/letterpress.png">
    <div class="pageContainer">
        <app-gigs-page></app-gigs-page>
    </div>
    <img class="pageDivider" src="/assets/dividers/letterpress.png">
    <div class="pageContainer">
        <app-contact-page>
            <app-booking-form></app-booking-form>
            <app-newsletter></app-newsletter>
        </app-contact-page>
    </div>
    <app-footer></app-footer>
</div>