<app-nav></app-nav>
<app-header></app-header>
<div class="appContainer" fxLayout="column" fxLayoutAlign="space-evenly center" (click)="closeNav()">

    <app-home-page></app-home-page>
    <img class="pageDivider" src="/assets/dividers/letterpress.png">

    <app-news-page></app-news-page>
    <img class="pageDivider" src="/assets/dividers/letterpress.png">

    <app-photos-page></app-photos-page>
    <img class="pageDivider" src="/assets/dividers/letterpress.png">

    <app-videos-page></app-videos-page>
    <img class="pageDivider" src="/assets/dividers/letterpress.png">

    <app-music-page></app-music-page>
    <img class="pageDivider" src="/assets/dividers/letterpress.png">

    <app-gigs-page></app-gigs-page>
    <img class="pageDivider" src="/assets/dividers/letterpress.png">

    <app-contact-page>
        <app-booking-form></app-booking-form>
        <app-newsletter></app-newsletter>
    </app-contact-page>
    
    <app-footer>
        <app-social-links></app-social-links>
    </app-footer>
</div>

<app-back-to-top></app-back-to-top>