<div id="photos" class="imagesPageContainer" fxLayout="column">
  <span class="pageTitle">Photos</span>

  <div fxShow class="ImageContainer" fxLayoutWrap>
    <img src="/assets/images/photos/celtronic-1.jpg">
    <img src="/assets/images/photos/hoxton-1.jpg">
    <img src="/assets/images/photos/keyboards-1.jpg">
    <img src="/assets/images/photos/roddens-1.jpg">
    <img src="/assets/images/photos/silk-halloween.jpg">
    <img src="/assets/images/photos/wire-show-1.jpg">
    <img src="/assets/images/photos/records.jpg">
  </div>
</div>

