<div id="photos" class="imagesPageContainer" fxLayout="column">
  <span class="pageTitle">Photos</span>

  <div fxShow class="ImageContainer" fxLayoutWrap>
    <img src="/assets/images/photos/celtronic.jpg">
    <img src="/assets/images/photos/hoxton.jpg">
    <img src="/assets/images/photos/keyboards.jpg">
    <img src="/assets/images/photos/roddens.jpg">
    <img src="/assets/images/photos/silk-halloween.jpg">
    <img src="/assets/images/photos/wired-show.jpg">
    <img src="/assets/images/photos/records.jpg">
  </div>
</div>

