<div id="photos" class="imagesPageContainer" fxLayout="column">
  <span class="pageTitle">Photos</span>

  <div class="ImageContainer" fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutWrap>
    <img src="/assets/images/celtronic-1.jpg">
    <img src="/assets/images/hoxton-1.jpg">
    <img src="/assets/images/keyboards-1.jpg">
    <img src="/assets/images/roddens-1.jpg">
    <img src="/assets/images/silk-halloween.jpg">
    <img src="/assets/images/wire-show-1.jpg">
    <img src="/assets/images/records.jpg">
  </div>
<ng-content></ng-content>
</div>