<div class="backgroundImage"></div>
<div class="layer"></div>
<div class="body">
    <app-nav></app-nav>
    <div class="appContainer contain" fxLayout="column" fxLayoutAlign="center center">
        <app-header></app-header>
        <app-home-page></app-home-page>
        <app-photos-page></app-photos-page>
        <app-videos-page></app-videos-page>
        <app-music-page></app-music-page>
        <app-contact-page>
            <app-contact></app-contact>
            <app-newsletter></app-newsletter>
        </app-contact-page>
        <app-footer>
            <app-social-links></app-social-links>
        </app-footer>
    </div>
    <app-back-to-top></app-back-to-top>
</div>