.backgroundImage {
    position: fixed;
    top: 0;
    z-index: -2;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    background-image: url('/assets/images/bushes/background-path-desktop.png');
}

.appContainer {
    width: 100%;
}