<div class="backgroundImage"></div>
<div class="body">
    <app-nav></app-nav>
    <div class="appContainer contain" fxLayout="column" fxLayoutAlign="center center">
        <app-header></app-header>
        <!--<app-carousel></app-carousel>-->
        <app-home-page></app-home-page>
        <!--<app-news-page></app-news-page>-->
        <app-photos-page></app-photos-page>
        <app-videos-page></app-videos-page>
        <app-music-page></app-music-page>
        <!--<app-gigs-page></app-gigs-page>-->
        <app-contact-page>
            <app-booking-form></app-booking-form>
            <app-newsletter></app-newsletter>
        </app-contact-page>
        <app-footer>
            <app-social-links></app-social-links>
        </app-footer>
    </div>
    <app-back-to-top></app-back-to-top>
</div>