.navList {
    height: 100%;
}

.navLink {
    /*color: #90857d;*/
    font-size: 30px;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
    padding: 10px;
    margin-top: 15px;
    /*text-align: center;*/
}

.navLink:hover {
    background-color: rgba(182,173,173,0.9);
}

.linksContainer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    border-bottom: 1px solid gray;
    z-index: 1200;
    background-color: rgba(182,173,173,0.9);
    width: 60%;
}

.hamburgerMenu {
    height: 40px;
    padding: 10px 0 0 10px;
    cursor: pointer;
}

.hamburgerContainer {
    height: 70px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
}

.pageDivider {
    height: 10px;
    width: 200px;
}

.horzNavContainer {
    padding-right: 50px;
    padding-bottom: 50px;
}