body {
    font-family: "Impact", "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    background-color: rgb(32, 32, 32);
    color: rgb(119, 119, 119);
}

.pageContainer {
    width: 100%;
}

.headerContainer {
    margin-bottom: 30px;
}

.pageTitle {
    text-align: center;
    font-size: 60px;
    background: -webkit-linear-gradient(#260045, #1b0038);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 30px;
}

.headerBannerText {
    font-size: 180px;
    background: -webkit-linear-gradient(#260045, #1b0038);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}