body {
    font-family: "Arial Rounded MT Bold", "Impact", "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    background-color: rgb(32, 32, 32);
    color: rgb(119, 119, 119);
}

.pageContainer {
    width: 100%;
}

.headerContainer {
    margin-bottom: 30px;
}

.pageTitle {
    text-align: center;
    font-size: 40px;
    color: #90857d;
    margin-bottom: 30px;
}

.errorMessage {
    font-family: "Arial";
    color: #f22b2b;
    font-size: 20px;
    float: left;
}

.successFailureMessage {
    font-family: "Arial";
    font-size: 20px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

form {
    margin: auto;
}