@import url('https://fonts.googleapis.com/css?family=Raleway:200');

body {
    font-family: "Raleway";
    font-weight: 200;
    color: rgb(188, 188, 188);
}

.headerContainer {
    margin-bottom: 30px;
}

.pageTitle {
    text-align: center;
    font-size: 40px;
    color: rgb(198, 198, 198);
    margin-bottom: 30px;
}

.errorMessage {
    font-family: "Arial";
    color: #f22b2b;
    font-size: 20px;
}

.successFailureMessage {
    font-family: "Arial";
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.layer {
    position: fixed;
    top: 0;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    background-color: rgba(32, 32, 32, 0.85);
}

button[class="ng-star-inserted"] {
    outline: none;
}

img[class="ng-star-inserted"] {
    padding: 10px;
}

img[class="ng-star-inserted"]:hover {
    background-color: rgba(173, 173, 173, 0.4)
}